<div class="page800" id="page-title">
	<div id="page-icon-before"></div><%= image_tag "icons/cart.png", :id => "page-icon" %><div id="page-icon-after"></div>
	<h3>Корзина</h3>
	<%= link_to @return_to , class: "tag-like", id: "link-back" do %>
		<em class="arrow">←</em> <span>Вернуться к выбору плакатов</span>
	<% end %>
</div>

<div id="cart-details">
<%= render "shared/cart_list" %>
</div>

<div class="page800" id="checkout">
	<p>Заказ доставит «<%= link_to "Новая почта", "http://novaposhta.ua/", target: "_blank" %>».</p>
	<p>Оплата — <strong>наложенным платежом</strong> (то есть, аж когда плакаты будут у вас).</p>
	
	<%= form_tag "/checkout", method: "post", id: "checkout-table" do %>
	
		<table id="checkout-table">
		<tbody>
		<tr>
			<td class="label-cell"><%= label_tag "name" do %>Имя <b title="Обязательное поле">•</b><% end %></td>
			<td><%= text_field_tag "name", "", maxlength: 250 %></td>
		</tr>
		<tr>
			<td class="label-cell"><%= label_tag "email" do %>E-mail <b title="Обязательное поле">•</b><% end %></td>
			<td><%= text_field_tag "email", "", maxlength: 250 %></td>
		</tr>
		<tr>
			<td class="label-cell"><%= label_tag "phone" do %>Телефон <b title="Обязательное поле">•</b><% end %></td>
			<td><%= text_field_tag "phone", "", maxlength: 250 %></td>
		</tr>
		<tr>
			<td class="label-cell"><%= label_tag "phone" do %>Адрес доставки <b title="Обязательное поле">•</b><% end %></td>
			<td><%= text_field_tag "address", "", maxlength: 250 %></td>
		</tr>
		<tr>
			<td class="label-cell"><%= label_tag "message" do %>Примечания к заказу <em>Любые дополнительные пожелания или вопросы; ответим на указанный e-mail.</em><% end %></td>
			<td><%= text_area_tag "message", "" %></td>
		</tr>
		<tr>
			<td class="label-cell"></td>
			<td class="button-cell">
				<%= button_tag "Оформить заказ", class: "big-button", id: "checkout-button", name: "checkout-button" %>
				<em>Мы позвоним, чтоб всё согласовать.</em>
			</td>
		</tr>
		</tbody>
		</table>		
	
	<% end %>
	
</div>
