<div class="page" id="page-title">
	<div id="page-icon-before"></div><%= image_tag "icons/all.png", :id => "page-icon" %><div id="page-icon-after"></div>
	<!--<h3>Корзина</h3>
	<h4><a href="#">« Вернуться к плакатам</a></h4>-->
	
	<h3>Все подряд</h3>
	<h4>У нас <strong><%= @posters_count.to_s + " " + pluralize_russian(@posters_count, "плакат", "плаката", "плакатов") %></strong>, и мы постоянно придумываем новые!</h4>
	<div class="switch" id="sorting">
		<%= link_to "по дате", {order: "new"}, class: @order == "new" ?"chosen" : "" %> 
		<%= link_to "загадочно", {order: "mysterious"}, class: @order == "mysterious" ?"chosen" : "" %> 
		<%= link_to "по популярности", {order: "popular"}, class: @order == "popular" ?"chosen" : "" %> 
	</div>
</div>

<div id="showcase" class="page" style="text-align: center">
	<ul> 
		<% sizes, breaks = [2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4], [0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0] %>
		<% @posters.each_with_index do |p, i| %>
			<% if breaks[i] == 1 %>
				<li class="break" />
			<% end %>
			<li class="item x<%= sizes[i] %>">
				<%= link_to "/posters/#{p.id}-#{p.url}" do %>
					<% if p.censored %>
						<%= image_tag "posters/" + p.image, :class => "lazy obscene" %>
						<%= image_tag "posters/CENSORED_" + p.image.gsub(/.jpg/, ".png"), :class => "lazy censored" %>
						<div class="item-info">
							<span class="obscene"><%= p.title %></span>
							<span class="censored"><%= p.title.split(//).shuffle.join %></span>
							<em><%= p.price.to_i %> грн.</em>
						</div>
					<% else %>
						<%= image_tag "posters/" + p.image, :class => "lazy" %>
						<div class="item-info"><span><%= p.title %></span><em><%= p.price.to_i %> грн.</em></div>
					<% end %>
				<% end %>
			</li>
		<% end %>			
	</ul>
	
	<%= paginate @posters %>	
</div>

