<div class="page" id="page-title">
	<div id="page-icon-before"></div><%= image_tag "icons/games.png", :id => "page-icon" %><div id="page-icon-after"></div>
	<%= link_to @return_to, id: "link-back", class: "tag-like" do %>
		<em class="arrow">↑</em> <span>Вернуться в категорию Игры</span> <em class="arrow">↑</em>
	<% end %>
</div>

<div id="item-page">
	<div id="preview">
		<div id="preview-frame"><%= image_tag "posters/" + @poster.image %></div>
	</div>
	<div id="details">
		<h1><%= @poster.title %></h1>
		<ul id="item-tags">
			<% @poster.tags.each do |t| %>
			<li><%= link_to t.name, "/tags/#{t.url}" %></li>
			<% end %>
		</ul>
		<p><%= @poster.description %></p>
		
		<%= form_tag "/add-to-cart", method: "post", id: "form-add" do %>
			<%= hidden_field_tag "poster-id", @poster.id %>
			<div id="paper-size-block">
				<%= label_tag nil, title: "420 мм × 594 мм", class: "paper-size A2" do %>
					<%= radio_button_tag "paper-size", "A2", true, id: "paper-size-A2", tabindex: "3" %><span>A2</span>
				<% end %>
				<%= label_tag nil, title: "297 мм × 420 мм", class: "paper-size A3" do %>
					<%= radio_button_tag "paper-size", "A3", false, id: "paper-size-A3", tabindex: "4" %><span>A3</span>
				<% end %>
				<span id="paper-size-hint"><em class="arrow">←</em> размер</span>
			</div>
			<div id="paper-bg-block">
				<%= select_tag nil, "<option value='white'>На белом фоне</option><option value='black'>На черном фоне</option><option value='gray'>На сером фоне</option>".html_safe,
					name: "paper-bg", class: "dk", tabindex: "5" %>
			</div>
			<div id="add-block">
				<em id="price"><span><%= @poster.price.to_i %></span> грн.</em>
				<%= button_tag name: "add-button", id: "add-button", class: "big-button", tabindex: 6 do %>
				<em>Шикарно!</em><b>Заверните!</b><i></i>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
